.login-background {
  width: auto;
  height: 100vh;
  background-image: url('../../assets/logo_full.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
}

.custom-center{
  position: absolute;
  margin-top:0;
  top: 57%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.input-wrapper {
  margin-top: 1vh;
}

.login-button {
  padding: 1vh 4vh;
  border: none;
  background: #000000;
  opacity: 0.4;
  transition: 0.3s;
}

.login-button:hover {
  opacity: 0.6;
}
