<h2 class="text-center"><small>You have </small>{{currentUserData.Points}}<small> Points</small></h2>

<div class="col-md-12">
  <ol class="list-group" *ngFor="let user of usersData; let i = index">
    <li class="list-group-item" [class.active]="user.UserId === currentUserData.UserId" *ngIf="isStudent(user)">
      <div class="row">
        <div class="col-1">
          {{i + 1}}
        </div>
        <div class="col-3">
          {{user.Name}}
        </div>
        <div class="col-3">
          {{user.Surname}}
        </div>
        <div class="col-4">
          {{user.Department}}
        </div>
        <div class="col-1">
          {{user.Points}}
        </div>
      </div>
    </li>
  </ol>
</div>

<button class="btn btn-outline-success" (click)="back()">Back</button>
