<!--
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" (click)="back()">Back</button>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{user?.Name}} {{user?.Surname}}
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <button class="nav-link active" id="home-tab" data-toggle="tab" role="tab" (click)="setButtonState(state.PROFILE)">About</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="active-tab" data-toggle="tab" role="tab" (click)="setButtonState(state.ACTIVE_TASK)">Active tasks</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="profile-tab" data-toggle="tab" role="tab"  (click)="setButtonState(state.TASK_HISTORY)">Tasks done</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
      </div>
    </div>
    <div class="row" *ngIf="buttonState===state.PROFILE">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" alt="" />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row py-1">
              <div class="col-md-4">
                <label>Name</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Name}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Surname</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Surname}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Email</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Email}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Occupation</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Occupation}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Index Number</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.IndexNo}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Department</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Department}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Number of Points</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Points}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="buttonState===state.ACTIVE_TASK">
    <app-profile-tasks></app-profile-tasks>
  </div>
</div>
-->

<div class="wrapper">
  <div class="side-panel"></div>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>{{user?.Name}} {{user?.Surname}}</h1> <!-- make it scale itself -->
      </div>
      <div class="nav-bar">
        <button class="nav-button" (click)="setButtonState(state.PROFILE)">ABOUT</button>
        <button class="nav-button" (click)="setButtonState(state.ACTIVE_TASK)">ACTIVE TASKS</button>
        <button class="nav-button" (click)="setButtonState(state.TASK_HISTORY)">TASKS DONE</button>
      </div>
      <div class="list-wrapper">
        <div class="row profile" *ngIf="buttonState===state.PROFILE">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <label>Name</label>
              </div>
              <div class="col-8">
                <p>{{user?.Name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Surname</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Surname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Email</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Occupation</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Occupation}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Index Number</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.IndexNo}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Department</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Department}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Number of Points</label>
              </div>
              <div class="col-md-8">
                <p>{{user?.Points}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="buttonState===state.ACTIVE_TASK">
          <app-profile-tasks></app-profile-tasks>
        </div>
      </div>
    </div>
    <div class="back-wrapper">
      <div class="button-wrapper">
        <button class="nav-button" (click)="back()">Back</button>
      </div>
      <div class="image-wrapper">
        <img src="../../assets/screen(1).png">
      </div>
    </div>
  </div>
</div>
