<div class="wrapper">
  <div class="side-panel">
    <div class="orange-box">
      <div class="box-text-wrapper">
        <h2>Search options:</h2>
      </div>
      <div class="input-box-wrapper">
        <input class="input-box" placeholder="Search for..." #search (keyup)="updateSearch(search.value)">
        <button class="search-button" (click)="searchMatch()">Search</button>
      </div>
    </div>
    <div class="tag-panel">
      <h3>Tags:</h3>
      <div *ngFor="let tag of tags">
        <input type="checkbox" #state (click)="searchTag(state.checked, tag)"> {{tag.name}}
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="title-wrapper">
      <h1>AVAILABLE TASKS</h1>
    </div>
    <div class="list-wrapper">
      <ul class="list-group" *ngFor="let task of tasksData | paginate: {itemsPerPage: 10, currentPage: page}">
        <li class="list-group-item" *ngIf="task.stateoftask=='TODO'" (click)="description(task)">
          <div class="row">
            <div class="col-2">
              Id: {{task.taskId}}
            </div>
            <div class="col-6" title="{{task.taskShortDescription}}">
              {{task.taskShortDescription}}
            </div>
            <div class="col-4">
              Signing deadline: {{task.uploadDate.substr(0, 10)}}
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Points: {{task.pointsGained}}
            </div>
            <div class="col-6">
              <span class="badge badge-secondary px-2" *ngFor="let tag of task.tags"> {{tag}} </span>
            </div>
            <div class="col-4">
              Finish deadline: {{task.finishDate?.substr(0, 10)}}
            </div>
          </div>
        </li>
      </ul>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="back-wrapper">
    <div class="button-wrapper">
      <button class="nav-button" (click)="back()">Back</button>
    </div>
  </div>
</div>
