.wrapper {
  border: solid 1px black;
  display: flex;
  height: 815px;
  max-width: 1500px;
  margin: 20px auto 0 auto;
}

.side-panel {
  width: 250px;
  background-color: rgb(208, 234, 248);
}

.back-wrapper {
  width: 250px;
}

.content-wrapper {
  width: 1000px;
}

.title-wrapper {
  margin-left: 5px;
  padding: 70px 0 0 70px;
  border-bottom: solid 3px #000;
}

.title-wrapper h1 {
  font-weight: bold;
  font-size: 55px;
  padding-right: 335px;
  color: rgb(255, 103, 18);
}
.content-wrapper h2 {
  font-size: 40px;
  margin: 10px 0 0 75px;
  letter-spacing: 2px;
  color: rgb(255, 103, 18);
}

.list-wrapper {
  padding: 20px 0 50px 75px;
}

.button-wrapper {
  margin: 50px 25px 50px 75px;
}

.apply-button-wrapper {
 margin: 25px 0;
}

.custom-center {
  text-align: center;
  padding: 15px;
}

.list-group-item {
  border: solid 3px #000;
  border-radius: 0;
  margin: 5px 0;
  cursor: pointer;
}

.content-wrapper .nav-button {
  width: 150px;
}

.validate-wrapper {
  float: right;
}

.validate-wrapper select {
  margin-right: 20px;
}
