<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" (click)="home()">Home</button>
        <button class="btn btn-success" (click)="back()">Back</button>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>About the Task</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row py-1">
              <div class="col-md-4">
                <label>Task Description:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.task.taskDescription}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Uploader Name:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.uploaderName}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Uploader Surname:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.uploaderSurname}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Uploader Email:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.uploaderEmail}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>State of task:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.task.stateoftask}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Deadline of the task:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.task.finishDate}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Points to Gain:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.task.pointsGained}}</p>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-4">
                <label>Tags:</label>
              </div>
              <div class="col-md-8">
                <p>{{task?.tags}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- student only -->
    <button *ngIf="isStudent()" class="btn btn-success" (click)="apply()">{{blueContent}}</button>
    <!-- teacher only -->
    <div *ngIf="isTeacher()" class="col-md-12">
      <ul class="list-group" *ngFor="let applicants of task.applied">
        <li class="list-group-item">
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-2">
              Status: {{ applicants.Name }}
            </div>
            <div class="col-5">
              {{task.taskShortDescription}}
            </div>
            <div class="col-3">
              Task uploader: {{task.uploaderName + " " + task.uploaderSurname}}
            </div>
            <div class="col-1">

            </div>
          </div>
          <div class="row">
            <div class="col-1">

            </div>
            <div class="col-2">
              Points: {{task.pointsGained}}
            </div>
            <div class="col-9">
              <span class="badge badge-secondary"> {{task.tags}} </span>
            </div>
            <div class="col-1">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
