a {
  color: #FFF;
}

.background{
  background-image: url('../../assets/background.png');
}

.emp-profile{
  padding: 1%;
  border-radius: 0.5rem;
}

.col-md-6 {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 200ms ease-in-out;
}

.col-md-6:hover {
  transform: scale(1.03);
}

.block-profile {
  height: 40vh;
  background-image: url('../../assets/profile-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}
.text-field{
  padding-top: 5vh;
  padding-left: 5vh;
}

.block-tasklist {
  height: 40vh;
  background-image: url('../../assets/tasklist-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;

}

.block-administration {
  height: 40vh;
  background-image: url('../../assets/administration-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}


.block-scoreboard {
  height: 40vh;
  background-image: url('../../assets/scoreboard-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}

.block-blue {
  cursor: pointer;
  color: #FFF
}

.block-blue:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 1vh 4vh;
  border: none;
  background: #CECDB4;
  transition: 0.3s;
}
.logout-button:hover {
  transform: scale(1.03);
}
