<div class = "background">
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-6">
      <a routerLink="/profile">
        <div class="block-profile">
          <div class = "text-field">
          <h2>Profile</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a routerLink="/task-list">
        <div class="block-tasklist">
          <div class = "text-field">
          <h2>Task List</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a (click)="blueDirect()">
        <div class="block-administration block-blue">
          <div class="text-field">
            <h2>{{blueContent}}</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a routerLink="/scoreboard">
        <div class="block-scoreboard">
           <div class = "text-field">
           <h2>Scoreboard</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <button class="logout-button" (click)="logout()">Logout</button>
</div>
</div>
