<div class="container emp-profile">
  <div class="row">
    <div class="col-md-6">
      <a routerLink="/profile">
        <div class="block-red">
          <h2>Profile</h2>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a routerLink="/task-list">
        <div class="block-yellow">
          <h2>Task List</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a routerLink="/task-adder">
        <div class="block-blue">
          <h2>{{blueContent}}</h2>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a routerLink="/scoreboard">
        <div class="block-green">
          <h2>Scoreboard</h2>
        </div>
      </a>
    </div>
  </div>
  <button class="btn btn-info" (click)="logout()">Logout</button>
</div>
