.emp-profile{
  padding: 1%;
  border-radius: 0.5rem;
  background: #fff;
}

.col-md-6 {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 200ms ease-in-out;
}

.col-md-6:hover {
  transform: scale(1.08);
}

.block-red {
  height: 400px;
  background: #ed553b;
}

.block-yellow {
  height: 400px;
  background: #f6d55c;
}

.block-blue {
  height: 400px;
  background-color: #20639b;
}

.block-green {
  height: 400px;
  background: #3caea3;
}
