a {
  color: #FFF;
}

.background{
  background-image: url('../../assets/background.png');
}

.emp-profile{
  padding: 1%;
  border-radius: 0.5rem;
}

.col-md-6 {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 200ms ease-in-out;
}

.col-md-6:hover {
  transform: scale(1.03);
}

.block-profile {
  height: 40vh;
  background-image: url('../../assets/profile-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}
.text-field{
  padding-top: 5vh;
  padding-left: 5vh;
}

.block-tasklist {
  height: 40vh;
  background-image: url('../../assets/tasklist-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;

}

.block-administration {
  height: 40vh;
  background-image: url('../../assets/administration-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}


.block-scoreboard {
  height: 40vh;
  background-image: url('../../assets/scoreboard-block.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2vh;
}

.block-blue {
  cursor: pointer;
  color: #FFF
}

.block-blue:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 1vh 4vh;
  border: none;
  background: #CECDB4;
  transition: 0.3s;
}
.logout-button:hover {
  transform: scale(1.03);
}

.wrapper {
  border: solid 1px black;
  background-color: #fff;
  max-width: 1500px;
  height: 815px;
  margin: 20px auto 0 auto;
}

.header {
  display: flex;
  max-width: 1000px;
  height: 200px;
  width: 1000px;
  margin-top: 50px;
  background-color: rgb(208, 234, 248);
}

.header img {
  align-self: center;
  height: 65%;
  margin-left: 30px;
}

.title-wrapper {
  padding: 25px 30px 0 0;
  width: 700px;
  float: right;
}

.title-wrapper h1 {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 60px;
  float: right;
}

.text-wrapper {
  padding: 20px 30px 20px 0;
  width: 700px;
  float: right;
}

.text-wrapper h2 {
  font-weight: bold;
  font-size: 35px;
  float: right;
}

.items-wrapper {
  display: flex;
}

.menu-item-wrapper {
  margin: 30px;
  cursor: pointer;
  width: 250px;
  height: 325px;
}

.image-wrapper {
  width: 250px;
  height: 250px;
  border: solid 8px #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.image-wrapper img {
  transform: scale(0.75);
  margin: 0 auto;
}

.menu-item-text {
  text-align: center;
  margin: 20px;
  color: rgb(255, 103, 18);
}

.menu-item-text h2 {
  font-weight: bold;
  letter-spacing: 2px;
}
